
\.vs/

DiscordCore/bin/

DiscordCore/obj/

DiscordCore\.App/bin/

DiscordCore\.App/obj/

DiscordCore\.Configuration/bin/

DiscordCore\.Configuration/obj/

DiscordCore\.Interfaces/bin/

DiscordCore\.Interfaces/obj/

DiscordCore\.Tests/bin/

DiscordCore\.Plugin\.Example/bin/

DiscordCore\.Plugin\.Example/obj/

DiscordCore\.Tests/obj/
